.logo-h {
    font-family: var(--logo-font);
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}


.accent {
    color: #2196F3;
}

.menu-nav {
    list-style: none;
}

.menu-link {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.menu-link:hover {
    color: #2196F3;
}

.contact-menu {
    list-style: none;
    letter-spacing: 0.06em;
}

.contact {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--secondary-font-color);
}