.hero-section {
    background-color: #2F303A;
}

.hero-title {
    color: var(--main-light);
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    background-color: #2196F3;
    color: var(--main-light);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 15px 32px;
    letter-spacing: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.container {
    width: 696px;
}

.s2 {
    list-style: none;
}

.s2-title {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 14px;
    width: 270px;
    text-transform: uppercase;
}

.s2-text {
    color: var(--secondary-font-color);
    font-weight: 400;
    font-size: 14px;
    width: 270px;
}

.s3-4-title {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 36px;
    width: 376px;
}

.container-1 {
    width: 1170px;
}

.container-bg {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 270px;
    height: 368px;
    margin: 0;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    color: var(--main-font-color);
    font-size: 16px;
    width: 129px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.profession {
    color: var(--secondary-font-color);
    font-size: 16px;
    width: 270px;
    font-weight: 400;
}

.bg-ourteam {
    background-color: #F5F4FA;
}

.bg {
    background-color: #FFFFFF;
    width: 270px;
}