:root{
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --main-light: #FFFFFF;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
}

footer {
    letter-spacing: 0.03em;
}